body {
    margin: 0;
    margin-top: 9%;
    background-color: grey;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    text-align: center;
}
h1{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 5px;
}

p {
    font-size: 1.3rem;
    font-weight: 350;
    margin-bottom: 30px;
}

.foto-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 10px 0 20px 0;
}

.redes img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.redes img:hover {
    transform: scale(1.1);
}

.TPS {
    display: flex; 
    flex-direction: column;
    text-align: center;
    gap: 15px;
}
.TPS a {
    text-decoration: none;
    background-color: #285c63;
    color: white;
    padding: 20px 20px;
    width: 500px;
    border-radius: 30px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
}  
.TPS a:hover {
    background-color: #008c9e;
}
