body {
    margin: 0;
    margin-top: 9%;
    background: linear-gradient(to right, #2c3e50, #4ca2af9c);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    text-align: center;
}
h1{
    font-size: 1.8rem;
    font-weight: 700;
}

p {
    font-size: 1.3rem;
    font-weight: 350;
}

.foto-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.redes {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 10px 0 10px 0;
}

.redes img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.redes img:hover {
    transform: scale(1.1);
}

.TPS {
    display: flex; 
    flex-direction: column;
    text-align: center;
    gap: 15px;
}
.TPS a {
    text-decoration: none;
    background-color: #285c63;
    color: white;
    padding: 20px 20px;
    width: 350px;
    border-radius: 30px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);

}  
.TPS a:hover {
    background-color: #008c9e;
    transform: scale(1.05);
}
