body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #141E30, #243B55); /* Degradado */
    color: white;
    text-align: center;
    scroll-behavior: smooth;
}

h1, h2 {
    background: rgba(74, 87, 105, 0.9);
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8);
    display: inline-block;
}

.pfp {
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8);
}

.mis-paginas{
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    transition: transform 0.3s ease;
    
}
.mis-paginas a{
    padding: 8px;
}        
.mis-paginas img {
    transition: transform 0,3s ease;
}
.mis-paginas:hover {
    transform: scale(1.1);
}
.mis-paginas img:hover {
    transform: scale(1.2);
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    height: 60px;
    top: 0;
    z-index: 1000;
    background: #141E30;
}

.header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.header ul{
    list-style: none;
    margin: 10px;
    padding: 10px;
    display: flex;
    gap: 20px;
}

.header li{
    display: inline;
}

.header li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.header li:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.footer {
    background: #141E30;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}